<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NoiseTypePList</key>
	<string>NoiseType</string>
	<key>SfaTypePList</key>
	<string>SfaType</string>
	<key>ComplainFormIntensitiesCapacity</key>
	<integer>128</integer>
	<key>RecorderIntensityInterval</key>
	<real>0.035</real>
	<key>RecorderSampleRate</key>
	<integer>44110</integer>
	<key>RecorderChannelNum</key>
	<integer>1</integer>
	<key>RecorderMaxValue</key>
	<integer>102</integer>
	<key>RecorderMinValue</key>
	<integer>-82</integer>
	<key>SQLiteFile</key>
	<string>ncp.sqlite</string>
	<key>ServerHost</key>
	<string>http://localhost:8080</string>
	<key>ServerErrorMessageKey</key>
	<string>error</string>
	<key>ServerComplainPage</key>
	<string>/api/complain</string>
	<key>DeviceTypePList</key>
	<string>DevType</string>
	<key>RequestDateFormat</key>
	<string>yyyy-MM-dd-HH-mm-ss</string>
	<key>MeterVCRefreshPerSecond</key>
	<integer>30</integer>
	<key>MeterVCRefreshLabelPerSecond</key>
	<integer>3</integer>
	<key>MeterViewMaxValue</key>
	<integer>120</integer>
	<key>MeterViewMinValue</key>
	<integer>0</integer>
	<key>GraphViewMaxValue</key>
	<integer>120</integer>
	<key>GraphViewMinValue</key>
	<integer>0</integer>
	<key>GraphViewCapacity</key>
	<integer>60</integer>
	<key>GraphViewGridRow</key>
	<integer>4</integer>
	<key>GraphViewGridColumn</key>
	<integer>5</integer>
	<key>GraphViewGridMaxValue</key>
	<integer>105</integer>
	<key>GraphViewGridMinValue</key>
	<integer>15</integer>
	<key>GraphViewSmooth</key>
	<integer>3</integer>
</dict>
</plist>
