<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>交通噪声</string>
	<string>工业噪声</string>
	<string>建筑工地噪声</string>
	<string>社会生活噪声</string>
	<string>其他噪声</string>
</array>
</plist>
