<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>index</key>
		<integer>1</integer>
		<key>title</key>
		<string>交通噪声</string>
		<key>short</key>
		<string>交通噪声</string>
		<key>post</key>
		<string>交通</string>
	</dict>
	<dict>
		<key>index</key>
		<integer>2</integer>
		<key>title</key>
		<string>工业噪声</string>
		<key>short</key>
		<string>工业噪声</string>
		<key>post</key>
		<string>工业</string>
	</dict>
	<dict>
		<key>index</key>
		<integer>3</integer>
		<key>title</key>
		<string>建筑工地噪声</string>
		<key>short</key>
		<string>建筑工地噪声</string>
		<key>post</key>
		<string>建筑工地</string>
	</dict>
	<dict>
		<key>index</key>
		<integer>4</integer>
		<key>title</key>
		<string>社会生活噪声</string>
		<key>short</key>
		<string>社会生活噪声</string>
		<key>post</key>
		<string>社会生活</string>
	</dict>
	<dict>
		<key>index</key>
		<integer>5</integer>
		<key>title</key>
		<string>其它噪声</string>
		<key>short</key>
		<string>其它噪声</string>
		<key>post</key>
		<string>其它</string>
	</dict>
</array>
</plist>
