<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>住宅区</string>
	<string>医院</string>
	<string>养老院</string>
	<string>学校</string>
	<string>工业区</string>
	<string>公园</string>
</array>
</plist>
